{name, "Scalaris"}.
{authors, ["Thorsten Schuett",
           "Florian Schintke",
           "Monika Moser",
           "Nico Kruber",
           "Jeroen Vlek",
           "Mikael Hoegqvist",
           "Stefan Plantikow",
           "Christian Hennig"]}.
{description, "Scalaris is a scalable, transactional, distributed key-value store"}.
{homepage, "http://code.google.com/p/scalaris/"}.
{license, "[Package License]", "[Optional Package License File]"}.
{url, {svn, "http://scalaris.googlecode.com/svn/tags/0.2.3", "HEAD"}}.
{applications, [boot_cs,chordsharp]}.
{build_command, "./configure && make"}.
{requires,[{"agner","atleast:0.4.12"}]}.
